.logo-container {
    font-size: 24px;
    flex-grow: 1;
    height: 120px;
    justify-content: center;
    padding: 10px 20px 18px 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: white;
    display: grid;
    position: relative;
}

.ball {
    display: inline-block;
    aspect-ratio: 1/1;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 54px;
    font-weight: bold;
    line-height: 2;
    margin: 0;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 120%,  #323232, #0a0a0a 80%, #000000 100%);
    font-family: 'Luckiest Guy', sans-serif;
}
.ball:before {
    content: "";
    position: absolute;
    background: radial-gradient(circle at 50% 120%,  rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    bottom: 2.5%;
    left: 5%;
    opacity: 0.6;
    height: 100%;
    width: 90%;
    -webkit-filter: blur(5px);
    z-index: 2;
}
.ball:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 65%;
    left: 65%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%,  rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
    -webkit-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    -moz-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    -ms-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    -o-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    -webkit-filter: blur(10px);
}

.ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-150px);
    -moz-transform: rotateX(90deg) translateZ(-150px);
    -ms-transform: rotateX(90deg) translateZ(-150px);
    -o-transform: rotateX(90deg) translateZ(-150px);
    transform: rotateX(90deg) translateZ(-150px);
    z-index: -1;
}

.stage {
    display: inline-block;
    margin: 20px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    display: grid;

    grid-template-columns: auto auto auto auto;
}


.ball1 { 
    background: radial-gradient(circle at 50% 120%, #ff4c4c, #a70000); 
    bottom: 5%;
}
.ball2 { 
    background: radial-gradient(circle at 50% 120%, #4cff4c, #00a700); 
    bottom: 20%;
}
.ball3 { 
    background: radial-gradient(circle at 50% 120%, #4c4cff, #0000a7); 
    bottom: 3%;
}
.ball4 { 
    background: radial-gradient(circle at 50% 120%, #ffff4c, #a7a700); 
    bottom: 7%;
}