.button-container {
    background: linear-gradient(90deg, rgba(241,131,34,1) 0%, rgba(241,90,34,1) 50%, rgba(241,131,34,1) 100%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, auto);
    max-width: 550px;
    width: 100%;
    gap: 5px;
    padding: 20px;
    margin-top: 0px;
    z-index: 1;
}

.keno-button {
    /* background-color: rgb(219, 219, 219); */
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: inline-block;
    border-width: 0px;
    background: radial-gradient(circle at 100px 100px, #3396ff, #ffffff);
}
.keno-button.selected{
    /* background-color: yellow; */
    border-radius: 50%;
    background: radial-gradient(circle at 100px 100px, rgb(63, 63, 63), #898989);
    font-weight: bolder;

}